@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


* {

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.stockHome {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 15px; */
    height: 100vh;
}

.innerStack {
    /* height: 650px; */
    /* border: 1px solid; */
    width: 375px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    /* padding: 0 4px; */
    border-radius: 5px;
}


.innerStack nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
    padding: 7px 11px;

}

.dailydata div p {
    border: 1px solid #833ab4;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    /* background-color: #d7dadd; */
    color: #83a4d4;
}

.dailydata div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid; */
    width: 100%;
}

.dailydata {
    /* border: 1px solid red; */
    height: 200px;
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 12px;
    align-items: center;
    background-image: url(../public/Images/chart.svg);
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 3px;
}

.dailydata .insightIcon {
    size: 40px;
}

.buttons {

    margin: 12px 19px;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 26px;
    background-color: #eea849;
    font-weight: 500;
}

.yours {
    /* border: 1px solid; */
    height: 115px;
    display: flex;
    justify-content: end;
    margin: 12px 0;
    padding-left: 60px;

}

.yourData {
    /* border: 1px solid; */
    /* width: 70%; */
    width: 100%;
    /* padding: 10px 0 0 10px ; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: 0 8px 0 0;
    padding: 3px;
    border-radius: 4px;

}

.yourData .data {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.yourData .data .left img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.yourData .you {
    margin-left: 22px;
}

.yourData .right div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* border: 1px solid; */
}

.yourData .right span {
    font-size: 18px;
    font-weight: 800;
}

.yourData .right .cb {
    color: #57ad68;
}

.yourData .right {
    display: flex;
    /* flex-direction: column; */
    /* border: 1px solid; */
    width: 200px;

}

.recents {
    /* border: 1px solid; */
    padding: 24px 10px 7px 10px;
    margin: 20px 0 30px 0;
}

.recentData {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.recentData i {
    font-size: 15px;
}

.recentData .left div {
    /* border: 1px solid; */
    padding: 3px;
    margin: 6px;
}

.recentData .right div {
    /* border: 1px solid; */
    padding: 3px;
    margin: 6px;
}

.recentData p {
    font-size: 12px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    cursor: pointer;
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
}

.recentData .g {
    color: green;
    font-weight: 600;
}

.recentData .r {
    color: red;
    font-weight: 600;
}

.bottom {

    border-radius: 20px 20px 0 0;
    /* overflow: hidden; */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    background: #D1913C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD194, #D1913C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}